body {
    font-size: 17px;
    font-family: "Raleway", sans-serif;
}

/* Default font size for the specific word */
.highlight {
    font-size: 15px; /* Default size for larger screens */
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
    .highlight {
        font-size: 10px; /* Smaller size for mobile screens */
    }
}