ul li {
    margin-bottom: 4px; /* Adjust the value as needed */
    list-style-type: square;
    font-size: 15px;
}

ul li::marker {
    color: #0166FF;            
}

.white-square {
    width: 165px; /* Set the width of the square */
    height: 5px; /* Set the height of the square */
    background-color: white; /* Set the background color to white */
    border: 1px solid #0166FF; /* Set the border color to blue and specify the thickness */
}

a.custom-underline {
    border-bottom: 2px solid #0166FF; /* Change to your desired color and thickness */
    text-decoration: none;
    color: #0166FF;
    padding-bottom: -1px; /* Adjust to create the space you want */
}

a.link-underline {
    border-bottom: 0px solid #0166FF; /* Change to your desired color and thickness */
    text-decoration: none;
    color: #0166FF;
    padding-bottom: -1px; /* Adjust to create the space you want */
}

a.coauthor-underline {
    border-bottom: 0.75px solid black; /* Change to your desired color and thickness */
    text-decoration: none;
    color: black;
    padding-bottom: -1px; /* Adjust to create the space you want */
}

@media (max-width: 767px) {
    ul li {
        font-size: 11px; /* Change this to your desired font size for mobile */
    }
}