body {
    font-size: 17px;
    font-family: "Raleway", sans-serif;
}

/* Default font size for the specific word */
.highlight {
    font-size: 14px; /* Default size for larger screens */
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
    .highlight {
        font-size: 9px; /* Smaller size for mobile screens */
    }
}

.todo-section {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 0 10px;
    width: 50%;
    border: 1px solid black;
  }
  
  .todo-section label {
    margin-top: .57rem;
  }

#bulletPoints {
    margin: 0;
    list-style-type: circle;
    list-style-position: inside;
  }